<style>
    {{{style}}}
</style>

    <main class="main-content">
        <section class="recruitment">
            <img class="recruitment__image" src="{{recruitment.image.src}}" alt="{{recruitment.image.alt}}">
            <p class="recruitment__announcement">{{recruitment.announcement}}</p>
            <h2 class="recruitment__call-to-action">{{recruitment.callToAction}}</h2>
        </section>
    </main>