<style>
    {{{style}}}
</style>

    <main class="main-content">
        <section class="open-recru">
            <h2>Otwarte rekrutacje</h2>

            <ul>
                <li>
                    <a href="https://www.weto.com.pl/junior-project-engineer,p12.html">
                        <p>Junior Project Engineer</p>
                        <button>Zobacz</button>
                    </a>
                </li>
            </ul>
        </section>

        <section class="recruitment">
            <img class="recruitment__image" src="{{recruitment.image.src}}" alt="{{recruitment.image.alt}}">
            <p class="recruitment__announcement">{{recruitment.announcement}}</p>
            <h2 class="recruitment__call-to-action">{{recruitment.callToAction}}</h2>
        </section>
    </main>